# dependencies
node_modules/

# environment variables
.env

# macOS files
.DS_Store

# logs
*.log

# build folders
dist/
build/

# vscode settings
.vscode/

# coverage
coverage/

# temporary files
tmp/
temp/